In [2]:
import pandas as pd

output = pd.read_csv("output_data.csv")
output.head(10)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,"Senior Business Intel Engineer, EU Customer Be...",Principal Consultant - Data Science - Transport,Director Data Science,Head of Data Science - National Retailer,Data Intelligence Engineer,Data Science Manager - Remote,Senior Manager - Data Science,Senior Advisor (Data Science & Analytics),Data Science Manager,Data Science Manager (Logistics),...,Digital Product Manager (Data Science Products),Data Science Delivery Lead,"Technical Sourcer, Analytics (Data Science, En...",Trainee Recruitment Consultant (Data Science T...,Data Science Researcher,Data Science Consultant – Digital Solutions (A...,Lead Data Science Engineer,Data Fellowship Coach,Data Science Consultants – All Levels,Data Science Manager
1,Amazon,PA Consulting,MBN Solutions,Salt,WisdomTree in Europe,Data Idols,KPMG UK,Alexander Ash Consulting,ASOS.com,Tesco,...,London North Eastern Railway,Aviva,Meta,Xcede Group,Mastercard,UBS,DraftKings Inc.,Multiverse,Baringa,Mazars in the UK
2,"London, England, United Kingdom","London, England, United Kingdom","London, England, United Kingdom","London, England, United Kingdom","London, England, United Kingdom","London, England, United Kingdom","London, England, United Kingdom","London, England, United Kingdom","London, England, United Kingdom","London, England, United Kingdom",...,"London, England, United Kingdom","London, England, United Kingdom","London, England, United Kingdom","London, England, United Kingdom","London, England, United Kingdom","London, England, United Kingdom","London, England, United Kingdom","London, England, United Kingdom","London, England, United Kingdom","London, England, United Kingdom"
3,Full-time · Mid-Senior level,Full-time · Mid-Senior level,Full-time · Director,"£100,000/yr - £140,000/yr · Full-time · Director",Full-time,Full-time · Mid-Senior level,Full-time · Mid-Senior level,Full-time · Associate,"£100,000/yr - £110,000/yr · Full-time · Mid-Se...",Full-time · Mid-Senior level,...,Full-time · Mid-Senior level,Full-time,Full-time · Entry level,Full-time · Associate,Full-time,Full-time · Mid-Senior level,Full-time · Mid-Senior level,Full-time · Mid-Senior level,NaN,NaN
4,Job Summary\n\nDESCRIPTION\n\nAre you passiona...,Company Description\n\nBringing Ingenuity to L...,Director Data Science – Audience Measurement –...,Head of Data Science\nNational Retailer\n· Wor...,You are passionate about Data Analytics?\nYou ...,Data Science Manager - Remote\n\nData Idols ar...,The Team\nOur highly specialised Data Science ...,Senior Advisor – Data Science and Analytics\n\...,ASOS is one of the UK’s top fashion and beauty...,About the Team:\nat Tesco our Data Scientists ...,...,"Here at LNER, we are on a mission to set up a ...","About Aviva\n\nWe're the UK’s leading savings,...","As a Data Driven company, Recruiting across An...",Trainee Recruitment Consultant (Data Science T...,Our Purpose\n\nWe work to connect and power an...,Job Reference #\n237410BR\n\nJob Type\nFull Ti...,We are DraftKings. We’re inspired by our share...,"We are Multiverse, a tech startup with a socia...",Overview\n\nWe set out to build the world’s mo...,"In Consulting, you will join a growing team of..."
5,https://www.linkedin.com/jobs/view/2877445631/...,https://www.linkedin.com/jobs/view/2876114098/...,https://www.linkedin.com/jobs/view/2865924127/...,https://www.linkedin.com/jobs/view/2867278998/...,https://www.linkedin.com/jobs/view/2879086324/...,https://www.linkedin.com/jobs/view/2882113741/...,https://www.linkedin.com/jobs/view/2866335445/...,https://www.linkedin.com/jobs/view/2872721289/...,https://www.linkedin.com/jobs/view/2877780651/...,https://www.linkedin.com/jobs/view/2874450271/...,...,https://www.linkedin.com/jobs/view/2884257332/...,https://www.linkedin.com/jobs/view/2874073208/...,https://www.linkedin.com/jobs/view/2870369319/...,https://www.linkedin.com/jobs/view/2877732137/...,https://www.linkedin.com/jobs/view/2879916936/...,https://www.linkedin.com/jobs/view/2847429030/...,https://www.linkedin.com/jobs/view/2872155179/...,https://www.linkedin.com/jobs/view/2872190992/...,https://www.linkedin.com/jobs/view/2848831324/...,https://www.linkedin.com/jobs/view/2861011904/...